.page__photos {
  margin: 0;
  padding: 62px 16px 0 16px;
}

@media screen and (min-width: 768px) {
  .page__photos {
    padding-top: 88px;
    padding-left: 24px;
    padding-right: 24px;
  }
}

@media screen and (min-width: 1024px) {
  .page__photos {
    padding-top: 92px;
    padding-left: 48px;
    padding-right: 48px;
  }
}
